<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="2style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7c4695a54d.js" crossorigin="anonymous"></script>

</head>

<body>
        
    <div class="container  my-5">
        <h1 class="my-4">Contact</h1>
        <p class="parrafo my-4" style="font-size: 20px;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

    <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="card card-lg card-x1"> <!-- Agregamos la clase card-lg para hacer el card más grande -->
              <div class="card-header">
                <form>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-form-label text-right">Your Email:</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputMessage" class="col-sm-3 col-form-label text-right">Your Message:</label>
                    <div class="col-sm-9">
                      <textarea class="form-control" id="inputMessage" rows="4" placeholder="Enter your message"></textarea>
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>